.container {
    height: 100vh;
    width: 100%;
    background-color: #e6ecf0;
}

.content {
    width: 700px;
    min-width: 600px;
    background: white;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 1px 2px rgba(60,64,67,3), 0 1px 3px 1px rgba(60,64,67,15);
}

input {
    padding: 5px 15px;
    border-radius: 3px;
    border: 1px solid #ddd;
}