<div class="container" fxLayout="center center">
    <div fxLayoutGap="100px">
        <h1>Formulaire</h1>
        <hr>
        <div fxLayout="row" fxLayoutGap="30px">
            <form [formGroup]="form" fxFlex="60%" fxLayout="column" fxLayoutGap="30px">
                <div fxLayout="row">
                    <label fxLayout="20%">Name</label>
                    <input type="text" fxFlex="auto" formControlName="name" placeholder="entrer nom">
                </div>

                <div fxLayout="row">
                    <label fxLayout="20%">code</label>
                    <app-input-bank-code fxFlex="auto" formControlName= "code"></app-input-bank-code>
                </div>

                <div fxLayout="row">
                    <label fxLayout="20%">Adress</label>
                    <app-input-adress fxFlex="auto"></app-input-adress>
                </div>

            </form>
            <pre fxFlex="auto"> {{form.valueChanges | async | json}}  </pre>
        </div>
    </div>
</div>