::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }

 .blok {
    height: 50px;
    width: 50px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 15px;
 }

 .disabled{
    opacity: 0.4;
 }
