<div [class.disabled]="isDisabled" fxLayout="column" fxLayoutGap="15px">
    <div fxLayout="row" fxLayoutGap="15px">
        <input type="text" placeholder="tapez code" disabled [(ngModel)]="innerValue" fxFlex="auto">
        <button (click)="reset()">x</button>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="center center">
        <div (click)="update(i)" *ngFor="let i of arr" class="blok" fxLaout="row" fxLayoutAlign="center center">
            <span>
                {{i}}
            </span>
        </div>
    </div>

</div>